body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Ragular";
  font-weight: normal;
  src: url("./font/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "NHBold";
  font-weight: normal;
  src: url("./font/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "NHLight";
  font-weight: normal;
  src: url("./font/SpoqaHanSansNeo-Light.ttf") format("truetype");
}


@font-face {
  font-family: "NHMedium";
  font-weight: normal;
  src: url("./font/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}


@font-face {
  font-family: "NHThin";
  font-weight: normal;
  src: url("./font/SpoqaHanSansNeo-Thin.ttf") format("truetype");
}